.footcontainor {
  display: flex;
  background-color: rgb(43, 20, 25);
  width: 100%;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.lists2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(43, 20, 25);
}
.follw {
  padding-top: 1em;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  color: antiquewhite;
}
.contact {
  display: flex;

  padding-left: 2em;

  color: aliceblue;
}
a {
  text-decoration: none;
}
.contactheader {
  padding-top: 1em;

  font-family: 'Roboto Mono', monospace;
  color: antiquewhite;
}
.lists1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 1.4em;
  background-color: rgb(43, 20, 25);
}
