@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jersey+15&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wdth,wght@50..200,224&family=Jersey+15&display=swap");
.mainpage {
  /* background-color: rgba(66, 11, 11, 0.918); */
  /* background-color: rgba(157, 172, 240, 0.685); */
  background-image: url("../assets/grunge-wall-texture.jpg");
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
}
.intro {
  margin-top: 5em;

  h1 {
    color: rgba(156, 229, 233, 0.897);
    font-family: "Jersey 15", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 130px;
  }
}
.hey {
  color: rgb(92, 223, 17);
}
.aboutproject {
  display: flex;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-size: 25px;
  margin-top: 2em;
  padding: 20px 20px 0px 30px;
  color: rgba(255, 255, 255, 0.801);
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: center;
}
.myimage {
  margin-top: 3em;
  margin-right: 1.5em;
  height: 370px;
  width: 300px;
  /* clip-path: polygon(
      0 100%,
      12% 60%,
      17% 74%,
      45% 0%,
      85% 92%,
      89% 82%,
      96% 103%,
      0 100%
    ); */

  clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
}
.hi {
  color: rgb(255, 255, 255);
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-weight: 224;
  font-style: normal;
  font-variation-settings: "wdth";
  padding-bottom: 5px;
}
@media only screen and (max-width: 500px) {
  .myimage {
    margin-top: 1em;
    /* clip-path: circle(50% at center); */
  }
  .intro {
    h1 {
      font-size: 100px;
    }
  }
}
