@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(240, 231, 231);
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  padding: 10px 20px;
  z-index: 1000;
}
.logo {
  height: 70px;
  margin-left: 20px;
}
nav {
  a {
    margin: 2.5em;
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-weight: 300;
    font-style: normal;
  }
}
a:hover {
  font-weight: 400;
}
.resume {
  background-color: cadetblue;
  border-radius: 3px;
  border: none;
  padding: 0.5em 1em;
}
.resume:hover {
  background-color: rgba(95, 158, 160, 0.411);
}
.navbtn {
  display: none;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  opacity: 0;
  visibility: hidden;
}
@media only screen and (max-width: 1080px) {
  .navbtn {
    display: block;
    opacity: 1;
    visibility: visible;
    font-size: 20px;
  }
  nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: aliceblue;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 20px;
    gap: 0.5rem;
    transition: 1s;
    transform: translateY(-100vh);
  }
  .responsiveNav {
    transform: none;
  }
  .closenavbtn {
    position: absolute;
    top: 1em;
    right: 1em;
  }
}
